body{
    background-color: rgb(255, 245, 234);
}

.header{
    text-align: center;
    background-color :rgb(253, 214, 199) ;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
}

.content{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    background-color: aquamarine;
    border-radius: 50px;
}


