@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@media (max-width: 490px) {
	form header {
		font-size: 30px;
	}

	.flex {
		display: flex;
		flex-wrap: wrap;
	}
}

body {
	background-color: ;
	font-family: 'Montserrat';
	font-size: 20px;
	color: rgb(255, 255, 255);
	background-color: grey;
}

header {
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	margin: 0 0 20px 0;
	color: black;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.flex_input {
	background-color: rgb(58, 58, 58);
	padding: 20px;
	border-radius: 15px;
}

.flex_input div {
	margin: 20px 0px;
}

.switch {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(58, 58, 58);
	padding: 20px;
	border-radius: 15px;
}

.switch div {
	flex: 1 1 auto;
}

.button {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	background-color: rgb(58, 58, 58);
	border-radius: 15px;
	padding: 20px;
}

.button div {
	margin: 20px 0;
}

.reset {
	background-color: rgb(163, 163, 163);
	font-size: 25px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 3px 1px black;
}

.submit {
	background-color: rgb(163, 163, 163);
	font-size: 25px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 3px 2px black;
}

.reset:hover {
	background-color: rgb(104, 104, 104);
}

.submit:hover {
	background-color: rgb(104, 104, 104);
}

.reset:active {
	position: relative;
	top: 3px;
	box-shadow: 1px 1px 2px black;
}

.submit:active {
	position: relative;
	top: 3px;
	box-shadow: 1px 1px 2px black;
}